.outer-container {
    margin: 3%;
    width: 90%;
}

.note-form-field {
    margin: 10px;
}

.pdf-icon {
    height:50px;
    width: 50px;
    display: block;
    box-sizing: border-box;
}

.single-note {
    margin: 10px;
}

.note-details{
    margin:0;
}

.note-details-wrapper{
    display: block;
    box-sizing: border-box;
    margin-left: 10px;
}

.note-details-desc{
    color: gray;
}