<div class="outer-container">
  <div class="left-container">
    <mat-card>
      <div class="card-head">
        <h3 class="card-head-heading">Create Notice</h3>
      </div>
      <mat-divider></mat-divider>
      <div class="card-body">
        <form
          [formGroup]="noticeForm"
          (ngSubmit)="saveNotice(noticeForm.value)"
        >
          <mat-form-field appearance="outline" class="notice-form-field">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" />
            <mat-error *ngIf="noticeForm.get('title').invalid">{{
              getError(noticeForm.get("title"))
            }}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="notice-form-field">
            <mat-label>Details</mat-label>
            <textarea matInput formControlName="details"></textarea>
            <mat-error *ngIf="noticeForm.get('details').invalid">{{
              getError(noticeForm.get("details"))
            }}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="notice-form-field">
            <mat-label>Posted By</mat-label>
            <input matInput formControlName="postedby" />
            <mat-icon matSuffix>person</mat-icon>
            <mat-error *ngIf="noticeForm.get('postedby').invalid">{{
              getError(noticeForm.get("postedby"))
            }}</mat-error>
          </mat-form-field>
          <button type="submit" mat-raised-button id="submitbtn">Submit</button>
        </form>
      </div>
    </mat-card>
  </div>
  <div class="right-container">
    <mat-card>
      <div class="card-head">
        <h3 class="card-head-heading">Notice Board</h3>
      </div>
      <mat-divider></mat-divider>
      <div class="scrollbar" id="style-3">
        <div class="force-overflow">
          <mat-list>
            <mat-list-item *ngFor="let notice of notices">
              <h3 matLine class="notice-date">
                {{ notice.dateofpost | date }}
              </h3>
              <p matLine class="notice-name">{{ notice.postedby }}</p>
              <p matLine class="notice-content">
                {{ notice.details }}
              </p>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-card>
  </div>
</div>
