.outer-container {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
}

.mat-card {
    box-sizing: border-box;
    height: 100%;
}

.card-head {
    height: 40px;
}

.card-head-heading {
    margin: 0;
}

.card-body{
    box-sizing: border-box;
    height: 90%;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 10px;
}

table {
  width: 100%;
}

td, th {
  width: 25%;
}