.outer-container {
    height: 90vh;
    width: 100%;
}

.left-container {
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    float: left;
    padding: 5%;
}

.mat-card {
    height: 100%;
}

.right-container {
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    float: left;
    padding: 5% 5% 5% 0;
}

.card-head {
    height: 40px;
}

.card-head-heading {
    margin: 0;
}

.card-body{
    box-sizing: border-box;
    height: 90%;
    width: 100%;
    padding: 5%;
}

.textbox-wrapper {
    height: 90%;
}

.leave-form-field {
    width: 100%;
    margin: 5px;
}

.reason-field {
    height: 90px;
}

.button-wrapper {
    height: 10%;
}

#submitbtn {
    background: #ffd740;
    color: white;
    width: 40%;
}

.scrollbar
{
    margin-left: 10px;
    margin-top: 10px;
	float: left;
	height: 90%;
	width: 95%;
	overflow-y: scroll;
}

.force-overflow
{
	min-height: 450px;
}

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.leave-date {
    color: lightgrey;
}

.leave-name {
    color: indigo;   
}

.leave-content {
}