<div class="outer-container">
  <mat-card>
    <div class="card-head">
      <h3 class="card-head-heading">Clerk Information</h3>
    </div>
    <mat-divider></mat-divider>
    <div class="card-body">
      <div class="body-left-container">
        <img [src]="profileImage" class="profile-image" alt="profile-image" />
      </div>
      <div class="body-right-container">
        <mat-grid-list cols="1" rowHeight="30:1">
          <mat-grid-tile>
            <div class="text-inside-grid-left">Full Name</div>
            <div class="text-inside-grid-right">{{ fullname }}</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid-left">Name with Initial</div>
            <div class="text-inside-grid-right">{{ nameWithInitial }}</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid-left">Position</div>
            <div class="text-inside-grid-right">{{ position }}</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid-left">Gender</div>
            <div class="text-inside-grid-right">{{ gender }}</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid-left">Date of Birth</div>
            <div class="text-inside-grid-right">{{ dob | date }}</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid-left">NIC</div>
            <div class="text-inside-grid-right">{{ nic }}</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid-left">Address</div>
            <div class="text-inside-grid-right">{{ address }}</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid-left">Contact Number</div>
            <div class="text-inside-grid-right">{{ contactNumber }}</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid-left">Email</div>
            <div class="text-inside-grid-right">{{ email }}</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid-left">First Appointment</div>
            <div class="text-inside-grid-right">
              {{ firstAppoinment | date }}
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid-left">Appointment to School</div>
            <div class="text-inside-grid-right">
              {{ appoinmentToSchool | date }}
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </mat-card>
</div>
