.outer-container {
    height: 90vh;
    width: 100%;
    box-sizing: border-box;
    padding: 5%;
}

.mat-card {
    box-sizing: border-box;
    height: 100%;

}

.card-head {
    height: 40px;
}

.card-head-heading {
    margin: 0;
}

.card-body{
    box-sizing: border-box;
    height: 90%;
    width: 100%;
    padding-top: 10px;
}

.body-left-container {
    height: 100%;
    width: 20%;
    float: left;
}

.body-right-container {
    height: 100%;
    width: 80%;
    float: left;
}

.profile-image {
    height: 55%;
    width: 100%;
    margin: 0 auto;
}

.text-inside-grid-left {
    width: 30%;
    margin: 10%;
}

.text-inside-grid-right {
    width: 70%;
}