.wrapper {
  height: 75vh;
}

.left-wrapper {
  height: 100%;
  width: 50%;
  float: left;
  margin: 10px;
}

.right-wrapper {
  height: 100%;
  width: 45%;
  float: left;
  margin: 10px;
}

.top-right-wrapper {
  height: 30%;
  width: 100%;
}

.bottom-right-wrapper {
  height: 68%;
  width: 100%;
}

.card {
  max-width: 270px;
  min-width: 270px;
  height: 70%;
}

.card-left-content {
  height: 100%;
  width: 50%;
  float: left;
}

.card-right-content {
  height: 100%;
  width: 50%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.card-left-top {
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.card-left-bottom {
  height: 30%;
}

.card-heading {
  margin: 0 auto;
  font-family: "Helvetica Neue", sans-serif;
  color: gray;
  text-align: center;
}

.card-data {
  margin: 0 auto;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
}

.card-icon {
  font-size: 48px;
  margin: auto;
}

.leaves-card-icon {
  color: green;
}

.secondcard {
  height: 95%;
}

.card-head {
  height: 10%;
}

.card-head-heading {
  margin: 0;
}

.scrollbar {
  margin-left: 10px;
  margin-top: 10px;
  float: left;
  height: 90%;
  width: 95%;
  overflow-y: scroll;
}

.force-overflow {
  min-height: 450px;
}

#style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

#style-3::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.notice-date {
  color: lightgrey;
}

.notice-name {
  color: indigo;
}

.card-body {
  box-sizing: border-box;
  height: 90%;
  width: 100%;
  padding-top: 10px;
}

.body-left-container {
  height: 100%;
  width: 20%;
  float: left;
}

.body-right-container {
  height: 100%;
  width: 80%;
  float: left;
}

.profile-image {
  width: 120%;
  height: 50%;
  margin-top: 0px;
  object-fit: cover;
}

.text-inside-grid-left {
  width: 40%;
  margin: 10%;
}

.text-inside-grid-right {
  width: 60%;
}
