<p class="dashboard-title">Home - Admin</p>
<mat-grid-list cols="4" rowHeight="140px">
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-card class="card">
            <mat-card-header>
                <mat-icon mat-card-avatar class="card-icon students-card-icon">people_alt</mat-icon>
                <mat-card-title>Students</mat-card-title>
                <mat-card-subtitle>50,000</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-card class="card">
            <mat-card-header>
                    <mat-icon mat-card-avatar class="card-icon teachers-card-icon">supervisor_account</mat-icon>
                <mat-card-title>Teachers</mat-card-title>
                <mat-card-subtitle>10,000</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-card class="card">
            <mat-card-header>
                <mat-icon mat-card-avatar class="card-icon parents-card-icon">person_add</mat-icon>
                <mat-card-title>Parents</mat-card-title>
                <mat-card-subtitle>15,000</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-card class="card">
            <mat-card-header>
                <mat-icon mat-card-avatar class="card-icon clerks-card-icon">supervisor_account</mat-icon>
                <mat-card-title>Clerks</mat-card-title>
                <mat-card-subtitle>500</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="3">
        <mat-card class="secondcard">
            <mat-card-header>
                <mat-icon mat-card-avatar class="card-icon clerks-card-icon">supervisor_account</mat-icon>
                <mat-card-title>Clerks</mat-card-title>
                <mat-card-subtitle>500</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>