<h3>Home - Admin</h3>
<mat-grid-list cols="4" rowHeight="140px">
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-card class="card">
      <div class="card-left-content">
        <div class="card-left-top">
          <mat-icon mat-card-avatar class="card-icon students-card-icon"
            >people_alt</mat-icon
          >
        </div>
        <div class="card-left-bottom">
          <h3 class="card-heading">Students</h3>
        </div>
      </div>

      <div class="card-right-content">
        <mat-divider vertical style="height:50%; width: 0%"></mat-divider>
        <h1 class="card-data">{{ studentCount }}</h1>
      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-card class="card">
      <div class="card-left-content">
        <div class="card-left-top">
          <mat-icon mat-card-avatar class="card-icon teachers-card-icon"
            >people_alt</mat-icon
          >
        </div>
        <div class="card-left-bottom">
          <h3 class="card-heading">Teachers</h3>
        </div>
      </div>

      <div class="card-right-content">
        <mat-divider vertical style="height:50%; width: 0%"></mat-divider>
        <h1 class="card-data">{{ teacherCount }}</h1>
      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-card class="card">
      <div class="card-left-content">
        <div class="card-left-top">
          <mat-icon mat-card-avatar class="card-icon parents-card-icon"
            >people_alt</mat-icon
          >
        </div>
        <div class="card-left-bottom">
          <h3 class="card-heading">Parents</h3>
        </div>
      </div>

      <div class="card-right-content">
        <mat-divider vertical style="height:50%; width: 0%"></mat-divider>
        <h1 class="card-data">{{ parentCount }}</h1>
      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-card class="card">
      <div class="card-left-content">
        <div class="card-left-top">
          <mat-icon mat-card-avatar class="card-icon clerks-card-icon"
            >people_alt</mat-icon
          >
        </div>
        <div class="card-left-bottom">
          <h3 class="card-heading">Clerks</h3>
        </div>
      </div>

      <div class="card-right-content">
        <mat-divider vertical style="height:50%; width: 0%"></mat-divider>
        <h1 class="card-data">{{ clerkCount }}</h1>
      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="3">
    <mat-card class="secondcard">
      <div class="card-head">
        <h3 class="card-head-heading">Recently Added</h3>
      </div>
      <mat-divider></mat-divider>
      <mat-tab-group>
        <mat-tab label="Students">
          <mat-form-field>
            <input
              matInput
              (keyup)="applyFilterStudent($event.target.value)"
              placeholder="Filter"
            />
          </mat-form-field>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="studentdataSource" matSort>
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  id="studentId"
                >
                  ID
                </th>
                <td mat-cell *matCellDef="let row">{{ row.id }}</td>
              </ng-container>

              <!-- Name initials Column -->
              <ng-container matColumnDef="nameinitials">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  id="nameWithInitials"
                >
                  Name with initials
                </th>
                <td mat-cell *matCellDef="let row">{{ row.nameinitials }}</td>
              </ng-container>

              <!-- Grade Column -->
              <ng-container matColumnDef="grade">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  id="garde"
                >
                  Grade
                </th>
                <td mat-cell *matCellDef="let row">{{ row.grade }}</td>
              </ng-container>

              <!-- DOB Column -->
              <ng-container matColumnDef="dob">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>DOB</th>
                <td mat-cell *matCellDef="let row">{{ row.dob | date }}</td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="studentdisplayedColumns"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: studentdisplayedColumns"
              ></tr>
            </table>

            <mat-paginator
              pageSize="2"
              [pageSizeOptions]="[5, 10, 25, 100]"
            ></mat-paginator>
          </div>
        </mat-tab>
        <mat-tab label="Teachers">
          <mat-form-field>
            <input
              matInput
              (keyup)="applyFilterTeacher($event.target.value)"
              placeholder="Filter"
            />
          </mat-form-field>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="teacherdataSource" matSort>
              <!-- ID Column -->
              <ng-container matColumnDef="teacherid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let row">{{ row.teacherid }}</td>
              </ng-container>

              <!-- nameinitials Column -->
              <ng-container matColumnDef="nameinitials">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Name with initials
                </th>
                <td mat-cell *matCellDef="let row">{{ row.nameinitials }}</td>
              </ng-container>

              <!-- NIC Column -->
              <ng-container matColumnDef="nic">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>NIC</th>
                <td mat-cell *matCellDef="let row">{{ row.nic }}</td>
              </ng-container>

              <!-- Contact Column -->
              <ng-container matColumnDef="contact">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Contact
                </th>
                <td mat-cell *matCellDef="let row">{{ row.contact }}</td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="teacherdisplayedColumns"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: teacherdisplayedColumns"
              ></tr>
            </table>

            <mat-paginator
              pageSize="2"
              [pageSizeOptions]="[5, 10, 25, 100]"
            ></mat-paginator>
          </div>
        </mat-tab>
        <mat-tab label="Parents">
          <mat-form-field>
            <input
              matInput
              (keyup)="applyFilterParent($event.target.value)"
              placeholder="Filter"
            />
          </mat-form-field>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="parentdataSource" matSort>
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let row">{{ row.id }}</td>
              </ng-container>

              <!-- nameinitials Column -->
              <ng-container matColumnDef="nameinitials">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Name with initials
                </th>
                <td mat-cell *matCellDef="let row">{{ row.nameinitials }}</td>
              </ng-container>

              <!-- NIC Column -->
              <ng-container matColumnDef="nic">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>NIC</th>
                <td mat-cell *matCellDef="let row">{{ row.nic }}</td>
              </ng-container>

              <!-- Conatct Column -->
              <ng-container matColumnDef="contact">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Contact
                </th>
                <td mat-cell *matCellDef="let row">{{ row.contact }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="parentdisplayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: parentdisplayedColumns"
              ></tr>
            </table>

            <mat-paginator
              pageSize="2"
              [pageSizeOptions]="[5, 10, 25, 100]"
            ></mat-paginator>
          </div>
        </mat-tab>
        <mat-tab label="Clerks">
          <mat-form-field>
            <input
              matInput
              (keyup)="applyFilterClerk($event.target.value)"
              placeholder="Filter"
            />
          </mat-form-field>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="clerkdataSource" matSort>
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let row">{{ row.id }}</td>
              </ng-container>

              <!-- nameinitials Column -->
              <ng-container matColumnDef="nameinitials">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Name with initials
                </th>
                <td mat-cell *matCellDef="let row">{{ row.nameinitials }}</td>
              </ng-container>

              <!-- NIC Column -->
              <ng-container matColumnDef="nic">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>NIC</th>
                <td mat-cell *matCellDef="let row">{{ row.nic }}</td>
              </ng-container>

              <!-- Contact Column -->
              <ng-container matColumnDef="contact">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Contact
                </th>
                <td mat-cell *matCellDef="let row">{{ row.contact }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="clerkdisplayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: clerkdisplayedColumns"
              ></tr>
            </table>

            <mat-paginator
              pageSize="2"
              [pageSizeOptions]="[5, 10, 25, 100]"
            ></mat-paginator>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="3">
    <mat-card class="secondcard">
      <div class="card-head">
        <h3 class="card-head-heading">Notice Board</h3>
      </div>
      <mat-divider></mat-divider>
      <div class="scrollbar" id="style-3">
        <div class="force-overflow">
          <mat-list>
            <mat-list-item *ngFor="let notice of notices">
              <h3 matLine class="notice-date">
                {{ notice.dateofpost | date }}
              </h3>
              <p matLine class="notice-name">{{ notice.postedby }}</p> 
              <p matLine class="notice-name">{{ notice.title }}</p>
              <p matLine class="notice-content">{{ notice.details }}</p>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
